# See https://help.github.com/ignore-files/ for more about ignoring files.

/crucial/node_modules

/crucial/coverage

.DS_Store
/crucial/.env.local
/crucial/.env.development.local
/crucial/.env.test.local
/crucial/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/crucial/src
/crucial/config
/crucial/scripts
/crucial/public
